<article>
                    <header>
                        <h1>Welcome to Codability</h1>
                        <p>This is an application I developed for my research project for the dissertation element of my MSc in Science in Web Technologies at the National College of Ireland. This application is developed to assess an indiviual&quot;s ability to code, using some aptitude tests.</p>
                    </header>
                    <section>
                        <h2>About the Research</h2>
                        <p>My research sets out to assess if Art teachers would be capable of teaching programming and coding at post primary level. Art teachers are in a unique position, in that most are qualified to teach only one subject, and tend to be on shorter contracts. Over 100 qualify every year into an over saturated market.</p><p>
In enabling them to up-skill and teach programming and coding at post primary level, there is a unique joint benefit, in that they are already trained teachers, and much more cost effective training programmes can be delivered to help them be more valuable to their schools, and enable them to be more suitable for roles. With a STEAM based approach – Science, Technology, Engineering, Art & Design, and Mathematics based education – a more robust, problem solving and creative engagement of methodologies can produce a more dynamic and progressive workforce. By building an application, that assesses an individuals competency skills for a coding aptitude, the research can measure if this hypothesis carries true.
</p>
                    </section>
                    <section>
                        <h2>Development Technologies</h2>
                        <p>I used a number of technologies to build this application. The main one is Ruby on Rails 4. I also used HTML5 boilerplate as the front end framework, and added some features that I felt would enhance it, such as Sticky css footer, Sassy CSS, Git and github for version control, etc...</p>
                    </section>
                    <footer>
                        <h3>Learn to Code</h3>
                        <p>There are some really brilliant resources out there that can teach you both the fundementals of coding logic, and basic coding skills with popular languages, both web and software based. I have compiled a list of available resources, to help you do this.</p>
                    </footer>
                </article>

                <aside>
                    <h3>aside</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
                </aside>
