
<h1>Teaching Survey Results</h1>

<div id="data"></div>

<div id="chartcontainer" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="chart2container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="chart3container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="chart4container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="chart5container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="chart6container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>






   	<div id="content">
	<section class="main">
	<section class="tabs">
	
	            <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
		        <label for="tab-1" class="tab-label-1">Alice</label>
		
	            <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
		        <label for="tab-2" class="tab-label-2">Smoked Cod</label>
		
	            <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
		        <label for="tab-3" class="tab-label-3">Wigget </label>
			
	            <input id="tab-4" type="radio" name="radio-set" class="tab-selector-4" />
		        <label for="tab-4" class="tab-label-4">Dave Cat</label>
                
                 <input id="tab-5" type="radio" name="radio-set" class="tab-selector-5" />
		        <label for="tab-5" class="tab-label-5">Wispy Cat</label>
		
	            <input id="tab-6" type="radio" name="radio-set" class="tab-selector-6" />
		        <label for="tab-6" class="tab-label-6">Maurice</label>
		
	            <input id="tab-7" type="radio" name="radio-set" class="tab-selector-7" />
		        <label for="tab-7" class="tab-label-7">Sandra Cat</label>
			
	            <input id="tab-8" type="radio" name="radio-set" class="tab-selector-8" />
		        <label for="tab-8" class="tab-label-8">Mr Fluffy</label>

            
			    <div class="clear-shadow"></div>
				
		        <div class="content">
			        <div class="content-1">
						<h2>Alice</h2>
                        <img src="img/8.gif" width="250px" height="250px" />
                        <ul class="defs">
                        	<li>Age </li>
                            <li>Colour</li>
                        </ul>
                       
                        <h3>Description</h3>
						<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. </p>
                     
				    </div>
			        <div class="content-2">
						<h2>Smoked Cod</h2>
                       		<img src="img/2.gif"width="250px" height="250px" />
                        <ul class="defs">
                        	<li>Age </li>
                            <li>Colour</li>
                        </ul>
                        <h3>Description</h3>
						<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. </p>
				    </div>
			        <div class="content-3">
						<h2>Wigget</h2>
                      		<img src="img/3.gif" width="250px" height="250px" />
                        <ul class="defs">
                        	<li>Age </li>
                            <li>Colour</li>
                        </ul>
                        <h3>Description</h3>
						<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. </p>
				    </div>
				    <div class="content-4">
						<h2>Dave Cat</h2>
                        <img src="img/1.gif" width="250px" height="250px" />
                        <ul class="defs">
                        	<li>Age </li>
                            <li>Colour</li>
                        </ul>
                        <h3>Description</h3>
						<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. </p>
				    </div>
                    <div class="content-5">
						<h2>Wipsy Cat</h2>
                        <img src="img/4.gif" width="250px" height="250px" />
                        <ul class="defs">
                        	<li>Age </li>
                            <li>Colour</li>
                        </ul>
                        <h3>Description</h3>
						<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. </p>
				    </div>
                    <div class="content-6">
						<h2>Maurice</h2>
                        <img src="img/5.gif" width="250px" height="250px" />
                        <ul class="defs">
                        	<li>Age </li>
                            <li>Colour</li>
                        </ul>
                        <h3>Description</h3>
						<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. </p>
				    </div>
                    <div class="content-7">
						<h2>Sandra Cat</h2>
                       <img src="img/7.gif" width="250px" height="250px" />
                        <ul class="defs">
                        	<li>Age </li>
                            <li>Colour</li>
                        </ul>
                        <h3>Description</h3>
						<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. </p>
				    </div>
                    <div class="content-8">
						<h2>Mr. Fluffy</h2>
                        <img src="img/6.gif" width="250px" height="250px" />
                        <ul class="defs">
                        	<li>Age </li>
                            <li>Colour</li>
                        </ul>
                        <h3>Description</h3>
						<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. </p>
				    </div>
		        </div>
			</section>
            </section>
</div><!--end of content-->