
<h1>Art Teacher Survey Results</h1>
<p>In September 2014, I carried out a survey of Art Teachers, through the <abbr title="Art Teachers' Association of Ireland">ATAI</abbr>. I wanted to gauge the level of <abbr title="Information, Communications Technology">ICT</abbr> Skill and communication of Art Teachers in Ireland.</p>


<div id="data"></div>
<div id="chartcontainer"class= "charts"></div>
<div id="chart2container"  class= "charts" ></div>
<div id="chart3container" class= "charts"></div>
<div id="chart4container"class= "charts"></div>
<div id="chart5container"  class= "charts" ></div>
<div id="chart6container" class= "charts"></div>

