
<h1>Results#individual</h1>

<div id="data"></div>

<div id="chartcontainer" style="min-width: background-color:teal;310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="chart2container" style="min-width: background-color:teal;310px; height: 400px; max-width: 600px; margin: 0 auto"></div>




   