
<h1>CESI Teacher Survey Results</h1>
<p>In December 2014, I distributed a survey to teachers, through the <abbr title="The Computers in Education Society of Ireland ">CESI</abbr> mailing list. I wanted to gauge the level of <abbr title="Information, Communications Technology">ICT</abbr> Skill and communication of teachers in Ireland.</p>


<div id="data"></div>
<div id="chartcontainer"class= "charts2"></div>
<div id="chart2container"  class= "charts" ></div>
<div id="chart3container" class= "charts2"></div>
<div id="chart5container"  class= "charts" ></div>
<div id="chart35container"class= "charts3"></div>
<div id="chart36container"class= "charts3"></div>
<div id="chart55container"class= "charts3"></div>
<div id="chart56container"class= "charts3"></div>
<div id="chart4container"class= "charts3"></div>
<div id="chart6container" class= "charts"></div>
<div id="chart7container" class= "charts"></div>
<div id="chart8container" class= "charts"></div>
<div id="chart9container" class= "charts3"></div>
<div id="chart91container" class= "charts3"></div>
<div id="chart11container" class= "charts2"></div>
<div id="chart10container" class= "charts"></div>
<div id="chart12container" class= "charts3"></div>
<div id="chart13container" class= "charts3"></div>
<div id="chart16container" class= "charts3"></div>


