// Place all the styles related to the details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


label::after {
  
 content: '\A'; 
 content: ' ';
    clear: right;
    display: block;
  
  
}
