// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.charts {
  float:left;
  min-width:300px;
  max-width: 600px;
  height: 400px;
  margin:10px 20px;
  border:1px solid grey;
}

.charts2 {
  float:left;
  min-width:640px;
  max-width: 1000px;
  height: 400px;
  margin:10px 20px;
  border:1px solid grey;
}